<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Everyone agrees Momo is the BEST cat!</h2>
                <hr class="light">
                <p class="text-faded">Established in 1891, Crufts is the greatest dog show in the world. The show takes
                    place over four days and has been held at the National Exhibition Centre (NEC), Birmingham since
                    1991 and features a wide range of dog competition. It attracts thousands of dogs with their owners
                    and handlers, displaying their dogs' skills and abilities to adoring crowds.</p>
                <p class="text-faded">This cat won the dog award.</p>
                <a href="#contact" class="btn btn-default btn-xl">Subscribe!</a>
            </div>
        </div>
    </div>
</section>