<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Don't Like What You See?</h2>
                <hr class="primary">
                <p>Follow one of these links or contact us and we will get you the help you need as soon as possible!
                </p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://x.com/crazykarens">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:jo@samaritans.org">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".5s"></i>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://www.ageuk.org.uk/services/age-uk-advice-line/">
                    <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".9s"></i>
                </a>
            </div>
        </div>
</section>