<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Momo</h1>
            <h2>winner of BEST CAT IN THE WORLD 2025™</h2>
            <hr>
            <p>4-time consecutive winner of WORLD BEST CAT CHAMPIONSHIP™ 2021-2025</p>
            <p>multi-award winner of over %overflow awards including, Crufts Best in Show & MTV CAT AWARD® BEST KISS</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
